name: Update gist
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - name: Update gist
        uses: takedawon/productive-box@master
        env:
          GH_TOKEN: ${{ d007ce94adc13b5955786b1befdad7542d94496a }}
          GIST_ID: ${{ d5c0a6437d482fd64abcec10548e724c }}
          TIMEZONE: Asia/Seoul
